@model List<Shared.ViewModels.ProductModel>
@{
    var errorLogs = ViewData["ErrorLogs"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome to products page</h1>
</div>
@if (!string.IsNullOrEmpty(errorLogs))
{
    <div class="alert alert-danger" role="alert">
        @errorLogs
    </div>
}
<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("Create", "Products")" class="btn btn-primary">Create New Product</a>
</div>
<div>
    <h2>Product List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.Created</td>
                    <td>@product.Updated</td>
                    <td>
                        <a href="@Url.Action("ProductDetails", new { id = product.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("ProductEdit", new { id = product.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("ProductDelete", new { id = product.Id, name = product.Name })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
