@model Shared.ViewModels.UserModel
@{
    ViewData["Title"] = "User Details";
    var errorLogs = ViewData["ErrorLogs"] as string;
}
@if (!string.IsNullOrEmpty(errorLogs))
{
    <div class="alert alert-danger" role="alert">
        @errorLogs
    </div>
}
   
<h2>User Details for @Model.Name</h2>
<br />
<div>
    <p>ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
    <p>Email: @Model.Email</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>Country: @Model.Country</p>
    <p>Postal Code: @Model.PostalCode</p>
    <p>Is Sys Admin: @Model.IsSysAdmin</p>
    <p>ApiKey: @Model.ApiKey</p>
    <br />
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</div>
