@model List<Shared.ViewModels.UserModel>
@{
    ViewData["Title"] = "Users page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to users page</h1>
</div>

<div>
    <h2>User List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Age</td>
                    <td>
                        <a href="@Url.Action("Details", new { id = user.Id })" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
